
{% extends 'index.html' %}

{% load static %}


{% block content %}

<div class="container" style="max-width: 600px; margin: 0; padding: 50px 20px; text-align:left; margin-left:83px ; margin-right: auto;">
    <h1>Welcome to Hotel Reservation Management</h1>
    <p>Welcome to our Hotel Reservation Management Project! In the digital age, libraries play a crucial role in providing access to knowledge and fostering a love for reading and learning. Our project aims to streamline the management of libraries, making it easier for librarians and patrons alike to navigate the vast world of books and resources.</p>
    <p>Choose an option to get started:</p>
    <a href="/locationpage" class="btn btn-primary">Search for hotels</a>
    
</div>

{% endblock content %}
